@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;1,400&family=Montserrat:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	border: none;
	text-decoration: none;
}

body {
	background-color: #393838;
	color: #fff;
	font-family: 'JetBrains Mono', monospace;
	font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-thumb {
	background-color: #6e6d6d00;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

h2 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 16px;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 70px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	width: 100%;
	max-width: 740px;
	margin-bottom: 20px;
}

.input-container {
	display: flex;
	align-items: center;
	border: 1.5px solid #ffffff;
	padding: 20px;
	border-radius: 4px;
}

.input {
	flex: 1;
	border: none;
	outline: none;
	font-size: 24px;
	background-color: #393838;
	color: #fff;
	font-family: 'JetBrains Mono', monospace;
	font-family: 'Montserrat', sans-serif;
}

.icon-button {
	background: none;
	border: none;
	cursor: pointer;
}

.icon {
	width: 20px;
	height: 20px;
	margin-left: 6px;
}

.content-container {
	display: flex;
	border: 1.5px solid #ffffff;
	padding: 20px;
	width: 750px;
	max-width: 700px;
	border-radius: 4px;
	font-size: 24px;
	margin-bottom: 16px;
}

.checkbox-label {
	display: flex;
	align-items: center;
	margin-right: 10px;
	cursor: pointer;
}

.checkbox {
	display: none;
}

.checkbox-custom {
	width: 20px;
	height: 20px;
	border: 4px solid #faf9f9;
	background-color: #393838;
	margin-right: 5px;
	border-radius: 50%;
	transition: all 150ms;
	margin-top: 5px;
}

.content-text {
	flex: 1;
	max-width: calc(100% - 50px);
	word-wrap: break-word;
	max-width: 606px;
	font-size: 24px;
	transition: all 500ms;
	margin-top: 4px;
}

.icon {
	width: 25px;
	height: 25px;
}

.delete-icon:hover {
	cursor: pointer;
}

.delete-icon {
	width: 36px;
	height: 36px;
	transition: all 200ms;
	margin-left: 17px;
}

.checkbox-custom_done {
	width: 20px;
	height: 20px;
	border: 4px solid #faf9f9;
	background-color: indianred;
	margin-right: 5px;
	border-radius: 50%;
	transition: all 150ms;
	margin-top: 5px;
	text-decoration: line-through;
}

.outer-content-container {
	overflow-y: auto;
}

/* Стили для скроллбара */
.outer-container-added::-webkit-scrollbar {
	width: 8px; /* Ширина скроллбара */
}

/* Стили для трека скроллбара (полосы) */
.outer-container-added::-webkit-scrollbar-track {
	background-color: #393838; /* Цвет трека скроллбара */
}

/* Стили для дорожки скроллбара (заполненной полосы) */
.outer-container-added::-webkit-scrollbar-thumb {
	background-color: #6e6d6d; /* Цвет дорожки скроллбара */
	border-radius: 8px; /* Скругление углов дорожки */
}

/* Стили для дорожки скроллбара при наведении */
.outer-container-added::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Цвет дорожки скроллбара при наведении */
}

.checked-text-content {
	text-decoration: line-through;
	color: #ababab;
}

.outer-container-added {
	max-height: 300px;
	overflow-y: auto;
	padding: 24px;
	border-radius: 8px;
}

.high-content {
	margin-bottom: 48px;
}
